{% extends "base-auth.html" %}

{% block title %}
Login - MV Shop
{% endblock title %}

{% block form_header %}
<h3 class="title has-text-grey">Login</h3>
<p class="subtitle has-text-grey">Please login to proceed.</p>
{% endblock form_header %}
<div class="box">
    {% block form_image %}
    <figure class="avatar">
        <img src="https://placehold.it/128x128">
    </figure>
    {% endblock form_image %}
    {% block form_body %}
    <form action="{% url 'account_login' %}" method="post">
        {% csrf_token %}
        <div class="field">
            <div class="control">
                {{ form.login }}
            </div>
        </div>

        <div class="field">
            <div class="control">
                {{ form.password }}
            </div>
        </div>
        <div class="field">
            <label class="checkbox">
                {{ form.remember }} Remember me
            </label>
        </div>
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button type="submit" class="button is-block is-info is-large">Login</button>
    </form>
    {% endblock form_body %}
</div>
{% block form_footer %}
<p class="has-text-grey">
    <a href="{% url 'account_signup' %}">Sign Up</a> &nbsp;·&nbsp;
    <a href="#">Forgot Password</a> &nbsp;·&nbsp;
    <a href="#">Need Help?</a>
</p>
{% endblock form_footer %}