{% extends "base-auth.html" %}

{% block title %}
Login - MV Shop
{% endblock title %}

{% block form_header %}
<h2 class="text-center auth-title">Login</h2>
{% endblock form_header %}

{% block form_body %}
<form action="" class="form-signin" action="{% url 'account_login' %}" method="post">
    {% csrf_token %}
    {{ form.login }}
    {{ form.password }}
    <button class="btn btn-lg btn-primary btn-block" type="submit">
        Sign in</button>
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <label class="pull-left">
        {{ form.remember }}
        Remember me
    </label>
    <a href="{% url 'account_reset_password' %}" class="pull-right need-help">Forgot Password? </a><span class="clearfix"></span>
</form>
{% endblock form_body %}

{% block form_footer %}
<a href="{% url 'account_signup' %}" class="text-center new-account">Create an account</a>
{% endblock form_footer %}
