{% extends "base-auth.html" %}

{% block title %}
Change Password
{% endblock title %}

{% block form_header %}
<h3 class="title has-text-grey">Change Password</h3>
{% endblock form_header %}

{% block form_body %}
<form action="{% url 'account_change_password' %}" method="get">
    {% csrf_token %}
    <div class="field">
        <div class="control">
            {{ form.password1 }}
        </div>
    </div>
    <div class="field">
        <div class="control">
            {{ form.password2 }}
        </div>
        {% if form.password2.errors %}
        {% for error in form.password2.errors %}
        <p class="help is-danger">{{ error }}</p>
        {% endfor %}
        {% endif %}
    </div>
    <button type="submit" name="action" class="button is-block is-info is-large">Change Password</button>
</form>
{% endblock form_body %}