{% extends "base-auth.html" %}

{% load account %}

{% block title %}
Password Reset
{% endblock title %}

{% block form_header %}
<h3 class="text-center auth-title">Password Reset</h3>
{% if user.is_authenticated %}
{% include "account/snippets/already_logged_in.html" %}
{% endif %}
<p class="text-center has-text-grey">Forgotten your password?
Enter your e-mail address below, we'll send you a link to reset your password.</p>
{% endblock form_header %}

{% block form_body %}
<form  class="form-signin" action="{% url 'account_reset_password' %}" method="post">
    {% csrf_token %}
    <div class="form-group{% if form.email.errors %} has-error{% endif %}">
        {{ form.email }}
        {% if form.email.errors %}
        {% for error in form.email.errors %}
        <span class="help-block">{{ error }}</span>
        {% endfor %}
        {% endif %}
    </div>
    <button type="submit" class="btn btn-lg btn-primary btn-block">Reset My Password</button>
</form>
{% endblock form_body %}

{% block form_footer %}
<p class="text-center">Please contact us if you have any
trouble resetting your password.</p>
{% endblock form_footer %}