{% extends "base-auth.html" %}

{% block title %}
Change Password
{% endblock title %}

{% block form_header %}
<h3 class="title has-text-grey">{% if token_fail %}Bad Token{% else %}Change Password{% endif %}</h3>
{% endblock form_header %}

{% block form_body %}
{% if token_fail %}
{% url 'account_reset_password' as passwd_reset_url %}
<p class="subtitle has-text-grey">The password reset link was invalid,
possibly because it has already been used. Please request a
<a href="{{ passwd_reset_url }}">new password reset</a>.</p>
{% else %}
    {% if form %}
    <form action="{{ action_url }}" method="post">
        {% csrf_token %}
        <div class="field">
            <div class="control">
                {{ form.password1 }}
            </div>
        </div>
        <div class="field">
            <div class="control">
                {{ form.password2 }}
            </div>
            {% if form.password2.errors %}
            {% for error in form.password2.errors %}
            <p class="help is-danger">{{ error }}</p>
            {% endfor %}
            {% endif %}
        </div>
        <button type="submit" class="button is-block is-info is-large">Change Password</button>
    </form>
    {% else %}
    <p>Your password is now changed.</p>
    {% endif %}
{% endif %}
{% endblock form_body %}