{% extends "base-auth.html" %}

{% load account %}

{% block title %}
Password Reset
{% endblock title %}

{% block form_header %}
<h3 class="title has-text-grey">Password Reset</h3>
{% if user.is_authenticated %}
{% include "account/snippets/already_logged_in.html" %}
{% endif %}
<p class="subtitle has-text-grey">Forgotten your password?
Enter your e-mail address below, and we'll send you an e-mail
allowing you to reset it.</p>
{% endblock form_header %}

{% block form_body %}
<form action="{% url 'account_reset_password' %}" method="post">
    {% csrf_token %}
    <div class="field">
        <div class="control">
            {{ form.email }}
        </div>
        {% if form.email.errors %}
        {% for error in form.email.errors %}
        <p class="help is-danger">{{ error }}</p>
        {% endfor %}
        {% endif %}
    </div>
    <button type="submit" class="button is-block is-info is-large">Reset My Password</button>
</form>
{% endblock form_body %}

{% block form_footer %}
<p class="has-text-grey">Please contact us if you have any
trouble resetting your password.</p>
{% endblock form_footer %}