{% extends "base-auth.html" %}


{% block form_header %}
<h3 class="title has-text-grey">Sign Up</h3>
<p class="subtitle has-text-grey">Sign up to register your account.</p>
{% endblock form_header %}
<div class="box">
    {% block form_body %}
    <form action="{% url 'account_signup' %}" method="post">
        {% csrf_token %}
        <div class="field">
            <div class="control">
                {{ form.username }}
            </div>
        </div>

        <div class="field">
            <div class="control">
                {{ form.email }}
            </div>
        </div>
        <div class="field">
            <div class="control">
                {{ form.password1 }}
            </div>
        </div>
        <div class="field">
            <div class="control">
                {{ form.password2 }}
            </div>
        </div>
        <button type="submit" class="button is-block is-info is-large">Sign Up</button>
    </form>
    {% endblock form_body %}
</div>
<p class="has-text-grey">
    Already have account? <a href="{% url 'account_login' %}">Login</a> &nbsp;·&nbsp;
</p>