{% extends "base-auth.html" %}

{% block title %}
Sign Up - MV Shop
{% endblock title %}

{% block form_header %}
<h1 class="text-center auth-title">Sign Up</h1>
{% endblock form_header %}

{% block form_body %}
<form action="{% url 'account_signup' %}" class="form-signin" method="post">
    {% csrf_token %}
    <div class="form-group{% if form.username.errors %} has-error{% endif %}">
        {{ form.username }}
        {% if form.username.errors %}
        {% for error in form.username.errors  %}
        <span class="help-block">{{ error }}</span>
        {% endfor %}
        {% endif %}
    </div>
    <div class="form-group{% if form.email.errors %} has-error{% endif %}">
        {{ form.email }}
        {% if form.email.errors %}
        {% for error in form.email.errors  %}
        <span class="help-block">{{ error }}</span>
        {% endfor %}
        {% endif %}
    </div>
    <div class="form-group{% if form.password1.errors %} has-error{% endif %}">
        {{ form.password1 }}
        {% if form.password1.errors  %}
        {% for error in form.password1.erros  %}
        <span class="help-block">{{ error }}</span>
        {% endfor %}
        {% endif %}
    </div>
    <div class="form-group{% if form.password2.errors %} has-error has-feedback{% endif %}">
        {{ form.password2 }}
        {% if form.password2.errors  %}
        {% for error in form.password2.errors  %}
        <span class="help-block">{{ error }}</span>
        {% endfor %}
        {% endif %}
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">
        Sign up</button>
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
</form>
{% endblock form_body %}

{% block form_footer %}
<p class="text-center">Already have an account? <a href="{% url 'account_login' %}">Login</a></p>
{% endblock form_footer %}