{% extends "base-auth.html" %}

{% block title %}
Sign Up - MV Shop
{% endblock title %}

{% block form_header %}
<h3 class="title has-text-grey">Sign Up</h3>
<p class="subtitle has-text-grey">Sign up to register your account.</p>
{% endblock form_header %}
<div class="box">
    {% block form_body %}
    <form action="{% url 'account_signup' %}" method="post">
        {% csrf_token %}
        <div class="field">
            <div class="control">
                {{ form.username }}
            </div>
            {% if form.username.errors  %}
            {% for error in form.username.errors %}
            <p class="help is-danger">{{ error }}</p>
            {% endfor %}
            {% endif %}
        </div>

        <div class="field">
            <div class="control">
                {{ form.email }}
            </div>
            {% if form.email.errors  %}
            {% for error in form.email.errors %}
            <p class="help is-danger">{{ error }}</p>
            {% endfor %}
            {% endif %}
        </div>
        <div class="field">
            <div class="control">
                {{ form.password1 }}
            </div>
        </div>
        <div class="field">
            <div class="control">
                {{ form.password2 }}
            </div>
            {% if form.password2.errors  %}
            {% for error in form.password2.errors %}
            <p class="help is-danger">{{ error }}</p>
            {% endfor %}
            {% endif %}
        </div>
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button type="submit" class="button is-block is-info is-large">Sign Up</button>
    </form>
    {% endblock form_body %}
</div>
{% block form_footer %}
<p class="has-text-grey">
    Already have account? <a href="{% url 'account_login' %}">Login</a> &nbsp;·&nbsp;
</p>
{% endblock form_footer %}