{% extends "./base.html" %}

{% load static %}

{% block content %}
<!-- Feature -->
<section class="hero is-medium" id="feature">
	<div class="hero-body">
			<div class="container">
					<div class="columns ">
							<div class="column">
									<h1 class="title is-4">
											INNOVATION
									</h1>
									<p>
											We push gaming limits—rigorously testing technology and partnering with forward-thinking companies like Steam and Oculus—to
											redefine the boundaries of our reality.
									</p>
							</div>
							<div class="column">
									<h1 class="title is-4">
											ONE PASSION UNITES US ALL.
									</h1>
									<p>
											Join the battle at MVGG Arena online. Get tips, free giveaways and a worldwide community of gamers, united by love of competition
											and passion for immersion.
									</p>
							</div>
							<div class="column">
									<h1 class="title is-4">
											WE STARTED A MOVEMENT.
									</h1>
									<p>
											We were first—to implement lightning-fast NVIDIA® graphics, to create mobile gaming machines that truly deliver. Here’s to
											the past, present and future of gaming.
									</p>
							</div>
					</div>
			</div>
	</div>
</section>

<!-- End Feature -->

<section class="hero is-dark is-medium">
	<div class="columns is-gapless is-paddingless">
			<div class="column">
					<img src="{% static 'image/cropped.png' %}" alt="">
			</div>
			<div class="column">
					<img src="{% static 'image/cropped2.png' %}" alt="">
			</div>
	</div>
	<div class="columns is-gapless is-paddingless">
			<div class="column">
					<img src="{% static 'image/cropped3.png' %}" alt="">
			</div>
			<div class="column">
					<img src="{% static 'image/cropped4.png' %}" alt="">
			</div>
	</div>
	</div>
</section>
{% endblock content %}